@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v66mdt');
  src:  url('fonts/icomoon.eot?v66mdt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v66mdt') format('truetype'),
    url('fonts/icomoon.woff?v66mdt') format('woff'),
    url('fonts/icomoon.svg?v66mdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-down:before {
  content: "\ea43";
}
