Ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
FlexColumnCenter()
  display flex
  flex-direction column
  justify-content center
HeightZero()
  overflow hidden
  height 0
  width 100%
PositionZeroTop()
  position absolute
  left 0
  right 0
  top 0
PositionZeroBottom()
  position absolute
  left 0
  right 0
  bottom 0