Ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
HeightZero()
  height: 0
  overflow: hidden
  width: 100%
PositionZeroTop()
  position: absolute
  left: 0
  right: 0
  top: 0
PositionZeroBottom()
  position: absolute
  left: 0
  right: 0
  bottom: 0